body,div,lable,ul,ol,li,a,b,p,u,i,strong,small,span,font,center,td,tl,input,img,form,h1,h2,h3,h4,h5,h6{ 
	 margin:0px;
	 padding:0px;
	 border:0px; 
}
body{ 
	 width:100%;
	 height:100%;
	 max-width:650px;
	 min-width:320px;
	 font-family:"寰蒋闆呴粦,Arial";
	 font-size:1.0rem;
	 color:#0B0B0B;
	 margin:0 auto; 
	 background: #FFF;
}
a,u{ 
 	text-decoration:none; 
}
i{ 
 	font-style:normal; 
}
b{ 
 	font-weight:normal; 
}
li{ 
 	list-style-type:none; 
}
img{ 
 	max-width:100%;
	outline-width:0px;
  	vertical-align:top;
}




.box{
	background: #ffffff;
	padding: 0 0 60px 0;
}

.header{
	background: #ff0000;
	padding: 10px 10px;
}

.header h1{
	display: block;
	color: #ffffff;
	line-height: 48px;
}


.main{
	margin: 0px 15px;
}

.mian_top h2{
	display: block;
	margin: 10px 0 0 0;
	font-weight: normal;
}

.mian_top .image {
	display: block;
	margin: 10px 0 0 0;
	width: 100%;
}


.mian_top h3{
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
	color: red;
}

.mian_top p{
	margin: 20px 0 0 0;
	text-indent: 2em;
	line-height: 28px;
}

.mian_top p font{
	color: red;
	font-size: 1.3rem;
}

.mian_top p i{
	font-weight: 900;
}


.mian_top p span{
	background: #f8fb03;
	font-size: 1.2rem;
	border-radius: 3px;
	color: red;
	padding: 3px 8px;
	margin: 0 0 0 5px;
}

.mian_top strong{
	display: block;
	text-align: center;
	color: #ffffff;
	background: #ff0000;
	padding: 10px 0 0 0;
	font-size: 1.4rem;
}

.mian_top b{
	display: block;
	text-indent: 2em;
	margin: 20px 0 0 0;
}

.mian_top b font{
	background: #b30000;
	color: aliceblue;
	border-radius: 5px;
	padding: 3px 10px;
	text-align: center;
}

.mian_top h5{
	display: block;
	text-align: center;
	font-size: 1.3rem;
	margin: 10px 0 0 0;
}

.mian_top h6{
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
}

.mian_top h6 font{
	background: #C80508;
	color: aliceblue;
	padding: 3px 4px;
	font-size: 1.1rem;
}

.mian_top p u{
	color: #ffffff;
	font-weight: 800;
	background: #ff0000;
	padding: 0 3px;
}

.mian_top_a{
	margin: 20px 0 0 0;
	padding: 10px 0;
	background: #f0f6c6;
}

.mian_top_a b{
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
	color: #b30000;
	font-size: 1.3rem;
	font-weight: 900;
}

.mian_top_a b font{
	color: red;
	background: #f0f6c6;
}

.mian_top_a b span{
	background: #f8fb03;
	font-size: 1.2rem;
	border-radius: 3px;
	color: red;
	padding: 3px 8px;
	margin: 0 0 0 5px;
}

.mian_top h4{
	display: block;
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.2rem;
}

.mian_top h4 font{
	background: #b30000;
	color: aliceblue;
	border-radius: 5px;
	padding: 5px 20px;
	text-align: center;
}

.lines{
	margin: 30px 0;
	border-bottom: 10px #e0bfbf dotted;
}

.mian_top_b{
	margin: 10px 0;
	border: 2px #E70509 solid;
	padding: 0 0 10px 0;
}

.mian_top_b b{
	display: block;
	text-align: center;
	color: red;
	margin: 10px 0 0 0;
}


.mian_mid{
	margin: 30px 0 0 0;
	border-top: 1px #b4b4b4 solid;
}

.mian_mid b{
	display: block;
	text-align: center;
	margin: 10px 0 0 0;
}


.mid_a{
	margin: 30px 0 0 0;
}

.mid_a p img{
	width: 40px;
	height: 40px;
	border-radius: 25em;
}

.mid_a p u{
	line-height: 40px;
	margin: 0 0 0 10px;
	color: #02187F;
}

.mid_a p i{
	float: right;
	line-height: 40px;
	font-size: 0.9rem;
	color: #B5ADAD;
}

.mid_b{
	margin: 10px 0 0 55px;
}

.mid_b p{
	margin: 10px 0 0 0;
}

.mid_b b{
	display: block;
	margin: 7px 0 0 0;
	text-align: left;
	font-size: 0.8rem;
	color: #AFABAB;
}

.mid_b p font{
	font-size: 0.9rem;
	color: #968C8C;
}

.mid_b img{
	display: block;
	margin: 8px 0 0 0;
}

.mid_b p span{
	background: #f8fb03;
	font-size: 1.2rem;
	border-radius: 3px;
	color: red;
	padding: 3px 8px;
	margin: 0 0 0 10px;
}


.foot{
	width: 650px;
	position: fixed;
	bottom: 0px;
	background: #ffffff;
	border-top: 1px #9ea69e solid;
	padding: 2px 0;
}

.foot center a:hover{
	background:url("fad58de7366495db4650cfefac2fcd61/css/f9d2d744388f72de955a57553ef51fc5.png");
	z-index: 1;
	background: red;
}


/*鍘诲井淇″脊绐�*/
.tanchuang { 
	width: 280px; 
	height: 200px; 
	border: 2px solid #339933; 
	position: fixed; 
	left: 50%; 
	top: 50%; 
	z-index: 1000000001; 
	margin-left: -140px; 
	margin-top: -90px; 
	background-color: #fff; 
	border-radius: 5px; 
	text-align: center; 
	font-size: 0.9rem; 
	display: none; 
	font-family: "寰蒋闆呴粦", "鏂板畫浣�", sans-serif; 
}
.tcTop { 
	color: red; 
	font-weight: bold; 
	margin-top: 30px; 
	font-size: 0.9rem; 
	line-height: 30px;
}
.tcBottom { 
	margin: 0 auto; 
	width: 170px; 
	margin-top: 25px; 
}
.tcBottom div { 
	width: 93px; 
	height: 34px; 
	font-size: 0.9rem; 
	background-color: #66CC33; 
	text-align: center; 
	line-height: 34px; 
	border-radius: 5px; 
	color: #fff; 
}
.tcBottom .quweixin { 
	margin:0 auto; 
	font-weight: bold; 
}
.tcBottom a { 
	color: #fff; 
	display: inline-block; 
	width: 93px; 
	height: 34px; 
}
/*鍘诲井淇″脊绐桬ND*/


@media screen and (max-width: 550px) {
	body{
		width: 100%;
		height: auto;
		max-width:550px;
 		min-width:320px;
		margin: 0px;
		padding: 0px;
		border: 0px;
	}
	.foot{
		width: 100%;
		max-width:550px;
 		min-width:320px;
		position: fixed;
		bottom: 0px;
		background: #ffffff;
		border-top: 1px #9ea69e solid;
		padding: 2px 0;
	}
}